#sfondo{
    -fx-background-color:rgb(255, 255, 255);
}

.list-view{
    -fx-background-color:rgb(31, 165, 255);
    -fx-background-radius:10;
}

.toggle-button{
    -fx-background-color:rgb(31, 165, 255);
    -fx-background-radius:20;
    -fx-text-fill:rgb(255, 255, 255);
}


.toggle-button:focused{
    -fx-background-color:rgb lime;
}

#bottone_aggiungi{
    -fx-background-color:rgb(0, 139, 0);
    -fx-text-fill:rgb(255, 255, 255);
}

#bottone_elimina{
    -fx-background-color:rgb(211, 4, 4);
    -fx-text-fill:rgb(255, 255, 255);
}

#searchBar{
    -fx-border-color:rgb(31, 165, 255);
    -fx-border-width:1;
    -fx-border-style:solid;
}

#ordina_per{
    -fx-background-color: rgb(31, 165, 255);
    -fx-background-radius: 20;
    -fx-text-fill:rgb(255, 255, 255);
}


.titled-pane > .title
{
-fx-background-color:rgb(31, 165, 255);
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 10 10 0 0, 9 9 0 0, 8 8 0 0;
}


.titled-pane > *.content
{
-fx-background-color: rgb(157, 21, 21);
-fx-background-radius: 0 0 10 10, 0 0 9 9, 0 0 8 8;
-fx-padding: 2;
-fx-border-color: transparent;
 }

.titled-pane:focused > .title > .arrow-button .arrow{
-fx-background-color: white;
}

#dark_mode{
    -fx-background-color:rgb(255, 255, 255);
    -fx-text-fill:rgb(0, 0, 0);
    -fx-background-radius:20;   
    -fx-border-color:rgb(31, 165, 255);
    -fx-border-radius:20; 
}