.background{
    -fx-background-color:rgb(29, 41, 66);
}

*.toggle-button:active{
    -fx-background-color:rgb(31, 165, 255);
    -fx-text-fill:black;
    -fx-background-radius:20;
    -fx-border-color:transparent;
}
*.toggle-button{
    -fx-background-color:rgb(29, 41, 66);
    -fx-text-fill:white;
    -fx-background-radius:20;
    -fx-border-color:rgb(31, 165, 255);
    -fx-border-radius:20;
    -fx-border-width:1;
}
#dark_mode{
    -fx-background-color:rgb(29, 41, 66);
    -fx-text-fill:white;
    -fx-background-radius:20;   
    -fx-border-color:rgb(31, 165, 255);
    -fx-border-radius:20; 
}

.list-view{
    -fx-background-color: rgb(29, 41, 66);
    -fx-border-color:rgb(31, 165, 255);
    -fx-border-radius:20;
    -fx-border-width:1;
    -fx-border-style:solid;
}

.titled-pane > .title
{
-fx-background-color:rgb(31, 165, 255);
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 10 10 0 0, 9 9 0 0, 8 8 0 0;
}


.titled-pane > *.content
{
-fx-background-color: rgb(29, 41, 66);
-fx-background-radius: 0 0 10 10, 0 0 9 9, 0 0 8 8;
-fx-padding: 2;
-fx-border-color:rgb(31, 165, 255);
-fx-border-radius:0 0 10 10, 0 0 9 9, 0 0 8 8;
 }

.titled-pane:focused > .title > .arrow-button .arrow{
-fx-background-color: rgb(29, 41, 66);
}

#bottone_aggiungi{
    -fx-background-color:rgb(29, 41, 66);
    -fx-border-color:rgb(0, 139, 0);
    -fx-text-fill:rgb(0, 139, 0);
}

#bottone_aggiungi:hover{
	-fx-background-color:#008b00;
	-fx-text-fill:#1d2942;
}


#bottone_elimina{
    -fx-background-color:rgb(29, 41, 66);
    -fx-border-color:rgb(211, 4, 4);
    -fx-text-fill:rgb(211, 4, 4);
}

#bottone_elimina:hover{
	-fx-background-color:#d30404;
	-fx-text-fill:#1d2942;
}

.text-area *.content {
    -fx-background-color:#1d2942; /*text-area . content non regge rgb*/
	-fx-border-color:#1fa5ff;
	/*-fx-border-radius:20;*/
}

